.spacer-container {
    height: fit-content;
    text-align: center;
    align-content: center !important;
    padding-top: 64px;
    padding-bottom: 64px;
    background:linear-gradient(0deg, rgba(255, 0, 150, 0.5), rgba(255, 0, 150, 0.5)), url(../../../assets/office-space-katora-about-us.jpg);
    background-size:cover;
    color: #fff;
    align-self: center;
    flex-grow: 1;
}

.spacer-container H2 {
    font-size: 6em !important;
}

.spacer-item {
    width: 224px;
    text-align: center;
    display: inline-flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;

}

.spacer-item img {
    width: 220px;
}

@media only screen and (max-width: 600px) {
    .spacer-container {
        width: 100%;
        padding-bottom: 0;
        padding-top: 0;
        flex-grow: 1;
    }

    .spacer-container H2 {
        font-size: 3em !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .spacer-item {
        width: 100% !important;
    }
}

@media only screen and (min-width: 600px) {
    .spacer-container {
        padding-top: 239px;
        padding-bottom: 239px;
    }

    .spacer-container H2 {
        font-size: 5em !important;
    }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}