
.services-section {
    display: inline-flex !important;
    flex-direction: row !important;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.portfolio-section {
    display: inline-flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 100%;
}

.about-section {
    display: inline-flex !important;
    flex-direction: row !important;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.contact-section {
    display: inline-flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 100%;
}

.gap {
    width: 100%;
    height: 58px;
}